.vtex-account_menu-link.b--action-primary {
  border: none;
  border-left: 4px solid #2D386E;
}

.vtex-account__user-info {
  align-items: center !important;
  margin-top: -15px;
}

.vtex-account__user-info div {
  display: flex;
}

#account-content .vtex-account__user-info .vtex-account__user-greeting, .vtex-account__user-info .vtex-account__user-name {
  margin-bottom: 0px !important;
  margin-right: 5px;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 19.2px */
  letter-spacing: 0.32px;
  text-transform: uppercase;
  color: #1E0E62;
}

#account-content .vtex-account__user-info .vtex-account__user-greeting span {
  font-size: 16px !important;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 19.2px */
  letter-spacing: 0.32px;
  text-transform: uppercase;
  color: #2D386E;
}

.vtex-pageHeader__container {
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
}

.vtex-pageHeader__container .c-on-base {
  margin-top: 0;
  order: -1;
}

#account-content .vtex-pageHeader__container .vtex-pageHeader-link__container button div span {
  align-items: center !important;
  font-size: 12px !important;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 15.6px */
  letter-spacing: 1px;
  text-transform: uppercase;
}

#account-content .vtex-pageHeader__container .vtex-pageHeader-link__container button:hover, #account-content .vtex-pageHeader__container .vtex-pageHeader-link__container button:focus {
  background: transparent !important;
}

#account-content .vtex-pageHeader__title {
  font-size: 28px !important;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 36.4px */
  letter-spacing: 0.56px;
  color: #2D386E;
}

.vtex-account__page-body article {
  border-radius: 10px;
  border: 2px solid var(--colors-grey-4, #F7F7F7);
  background: var(--color-white, #FFF);
}

#account-content .vtex-profile-form__profile-summary .light {
  color: #2D386E;
  font-size: 14px !important;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
}

#account-content .vtex-profile-form__profile-summary .db.c-on-base{
  color: var(--colors-grey-1, #8F8F9F);
  font-size: 12px !important;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

#account-content .vtex-account__page-body article footer button:hover, #account-content .vtex-account__page-body article footer button:focus {
  background-color: transparent !important;
}

.vtex-account__page-body article footer button div {
  border-radius: 100px;
  background: var(--action-secondary, #2D386E);
  padding: 11px 30px;
}

#account-content .vtex-account__page-body article footer button div span {
  color: var(--colors-white, #FFF);
  font-size: 14px !important;
  font-style: normal;
  line-height: 130%; /* 18.2px */
  letter-spacing: 1px;
  text-transform: uppercase;
}

#account-content .vtex-account__page-body .w-40-ns.w-100-s article main>div {
  color: var(--colors-dark, #2D386E);
  font-size: 16px !important;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 19.2px */
  letter-spacing: 0.32px;
  text-transform: uppercase;
}

#account-content .vtex-account__page-body .w-40-ns.w-100-s article main>div.c-muted-2 {
  color: var(--colors-grey-1, #8F8F9F);
  font-size: 14px !important;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
  letter-spacing: normal;
  text-transform: none;
}

#account-content .vtex-account__page-body .w-40-ns.w-100-s article main>div.vtex-account__password-box label {
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
  letter-spacing: normal;
  text-transform: none;
}